[run]
branch = True
source =
    python/jin
omit =
    python/jin/cli.py
    python/jin/cli_support.py

[report]
fail_under = 89
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
